body {
    margin: 0;
    padding: 0;
  }
  
  .forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-form {
    width: 100%;
    max-width: 400px;
    margin: auto; 
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .forgot-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .form-group-forgot {
    margin-bottom: 20px;
  }
  
  .form-group-forgot label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
  }
  
  .form-group-forgot input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .btn {
    display: block;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e67e22;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #cf6e18;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
    color: #333333;
  }
  
  .form-footer link {
    color: #0a1929;
    text-decoration: none;
  }
  
  .form-footer a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 480px) {
    .login-form {
      padding: 20px;
    }
  }
  